<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>
Code Review for DrawingTools.py
</title>
</head>
<body bgcolor="white">
<p align="center">
<font size="+2">
<strong>Code Review for DrawingTools.py
<br>
Carson Carroll (ccarro03@calpoly.edu)</strong>
</font>
</p>
<br>
<br>
<p><strong>Class DrawingTools:</strong> Meets all standards</p>
<p><strong>Method DrawingTools.__init__:</strong>Meets all standards</p>
<p><strong>Method DrawingTools.PencilToolHandler:</strong>Meets all standards</p>
<p><strong>Method DrawingTools.HandToolHandler:</strong>Meets all standards</p>
<p><strong>Method DrawingTools.TextToolHandler:</strong>Meets all standards</p>
<p><strong>Method DrawingTools.CircleShapeHandler:</strong>Meets all standards</p>
<p><strong>Method DrawingTools.SquareShapeHandler:</strong>Meets all standards</p>
<p><strong>Method DrawingTools.TriangleShapeHandler:</strong>Meets all standards</p>
<p><strong>Method DrawingTools.onClose:</strong>Capitalize the "O" in "onClose"</p>

</body></html>
