<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>
Code Review for ForumWindow.py
</title>
</head>
<body bgcolor="white">
<p align="center">
<font size="+2">
<strong>Code Review for ForumWindow.py
<br>
Mike Sevilla (mjsevill@calpoly.edu)</strong>
</font>
</p>
<br>
<br>
<p><strong>Class ForumWindow:</strong> Meets all standards</p>
<p><strong>Method ForumWindow.__init__:</strong> Meets all standards</p>
<p><strong>Method ForumWindow.SendMessage:</strong> Lacking descriptive comment</p>
<p><strong>Method ForumWindow.CloseForum:</strong> Meets all standards</p>
<p><strong>Method ForumWindow.Refresh:</strong> Lacking descriptive comment</p>
<p><strong>Method ForumWindow.toString:</strong>
   <ul>
      <li>Capitalize the 'To' in 'toString'</li>
      <li>Lacking descriptive comment</li>
   </ul>
</p>
<p><strong>Method ForumWindow.onClose:</strong> Capitalize the 'On' in 'onClose'</p>

</body></html>