<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>
Code Review for ImportPresentation.py
</title>
</head>
<body bgcolor="white">
<p align="center">
<font size="+2">
<strong>Code Review for ImportPresentation.py
<br>
Andrew Lisowski (alisowsk@calpoly.edu)</strong>
</font>
</p>
<br>
<br>
<p><strong>Class ImportPresentation:</strong> Meets Standards</p>
<p><strong>Method ImportPresentation.__init__:</strong> Parans on seperate line </p>
<p><strong>Method ImportPresentation.SelectPresentation:</strong> Parans on seperate line </p>
<p><strong>Method ImportPresentation.CancelSelectPresentation:</strong> Meets Standards </p>
<p><strong>Method ImportPresentation.GetPresentationPath:</strong> Meets Standards </p>
</body></html>
