<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>
Code Review for LoginWindow.py
</title>
</head>
<body bgcolor="white">
<p align="center">
<font size="+2">
<strong>Code Review for LoginWindow.py
<br>
Andrew Lisowski (alisowsk@calpoly.edu)</strong>
</font>
</p>
<br>
<br>
<p><strong>Class LoginWindow:</strong> Documents variables, any self.*</p>
<p><strong>Method LoginWindow.__init__:</strong> Long function, parens on extra line </p>
<p><strong>Method LoginWindow.GetUsername:</strong> Meets Standards </p>
<p><strong>Method LoginWindow.GetPassword:</strong> Meets Standards </p>
<p><strong>Method LoginWindow.OnAttempt:</strong> Document parameters </p>
<p><strong>Method LoginWindow.OnSuccess:</strong> Meets Standards </p>
<p><strong>Method LoginWindow.OnCancel:</strong> Document parameters </p>
</body></html>
