<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>
Code Review for MenuBar.py
</title>
</head>
<body bgcolor="white">
<p align="center">
<font size="+2">
<strong>Code Review for MenuBar.py
<br>
Carson Carroll (ccarro03@calpoly.edu)</strong>
</font>
</p>
<br>
<br>
<p><strong>Class MenuBar:</strong> Meets all standards</p>
<p><strong>Method MenuBar.__init__:</strong>Meets all standards</p>
<p><strong>Method MenuBar.OpenPresentation:</strong>Meets all standards</p>
<p><strong>Method MenuBar.ToggleRoster:</strong>Meets all standards</p>
<p><strong>Method MenuBar.ToggleDrawingTools:</strong>Meets all standards</p>
<p><strong>Method MenuBar.ToggleLayerManager:</strong>Meets all standards</p>
<p><strong>Method MenuBar.ToggleApprovalTracker:</strong>Meets all standards</p>
<p><strong>Method MenuBar.ToggleForum:</strong>Meets all standards</p>
<p><strong>Method MenuBar.ToggleFullScreen:</strong>Meets all standards</p>
<p><strong>Method MenuBar.Quiz:</strong>Meets all standards</p>
</body></html>
