<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>
Code Review for WhiteBoardNav.py
</title>
</head>
<body bgcolor="white">
<p align="center">
<font size="+2">
<strong>Code Review for WhiteBoardNav.py
<br>
Kevin Le (kle17@calpoly.edu)</strong>
</font>
</p>
<br>
<br>
<p><strong>Class WhiteBoardNav:</strong> Meets Standards</p>
<p><strong>Method WhiteBoardNav.__init__:</strong>Longer than 50 lines</p>
<p><strong>Method WhiteBoardNav.__init__.onScroll:</strong>Capitolize o</p>
<p><strong>Method WhiteBoardNav.__init__.list:</strong>Capitolize l</p>
<p><strong>Method WhiteBoardNav.LockdownMode:</strong>Meets Standards</p>
<p><strong>Method WhiteBoardNav.onKey</strong>Line 118 is > 80 chars. 
   o in onKey</p>
<p><strong>Method WhiteBoardNav.OnClickChange</strong>Remove Comments</p>
<p><strong>Method WhiteBoardNav.findSelectedObject</strong>Capitolize f</p>
<p><strong>Method WhiteBoardNav.OnLeftUp</strong>Remove comments</p>
<p><strong>Method WhiteBoardNav.OnMotion</strong>Meets Standards</p>
<p><strong>Method WhiteBoardNav.NotesTextEntered</strong>Meets Standards</p>
<p><strong>Method WhiteBoardNav.DisplayLayers</strong>Longer than 50 lines</p>
<p><strong>Method WhiteBoardNav.MoveToPreviousSlide</strong>Meets Standards</p>
<p><strong>Method WhiteBoardNav.MoveToNextSlide</strong>Meets Standards</p>
<p><strong>Method WhiteBoardNav.SyncWithPresenter</strong>Meets Standards</p>
<p><strong>Method WhiteBoardNav.MoveToSlide</strong>Meets Standards</p>
<p><strong>Method WhiteBoardNav.Redraw</strong>Remove comments</p>
<p><strong>Method WhiteBoardNav.RefreshSlide</strong>Meets Standards</p>
</body></html>

